html {
  height: 100%;
}

body {
  background: $background;
}

a {
  color: currentColor;
}

.profile {
  width: 50%;
  margin-top: 5%;
  float: left;
  background: $primary-color;
  color: $text-color;
  height: 80%;
  border-right: 1px solid lighten($primary-color, 5%);
}

.show-search {
  position: absolute;
  top: 27px;
  left: 20px;

  i {
    color: $highlight-color;
    font-size: 26px;
  }
}

.inputs {
  text-align: center;
  background: #2D3035;
  padding: 20px 0;

  li {
    display: inline;
  }
}

.field, .request {
  padding: 10px 15px;
  border-radius: 3px;
}

.request {
  background: $highlight-color;
  color: #fff;
}

.seguidores, .seguindo, .favoritos {
  float: left;
  width: 33.3333%;
  padding: 20px 0;

  .octicon {
    margin-bottom: 10px;
  }

  span {
    display: block;
  }
}

.fork {
  float: left;
}

.last-update {
  float: right;
}

.box-repo {
  border-top: 1px solid lighten($primary-color, 5%);
  border-bottom: 1px solid darken($primary-color, 5%);
  padding: 10px 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 30px;
  }
}

.repo-list .octicon {
  margin-right: 25px;
}

.info-request {
  text-align: center;

  span {
    font-size: 50px;
    margin-bottom: 15px;
    margin-right: 0px !important;
  }
}
