.show-search {
  position: absolute;
  top: 27px;
  left: 20px;

  i {
    color: $highlight-color;
    font-size: 26px;
  }
}

.inputs {
  text-align: center;
  background: #2D3035;
  padding: 20px 0;

  li {
    display: inline;
  }
}

.field, .request {
  padding: 10px 15px;
  border-radius: 3px;
}

.request {
  background: $highlight-color;
  color: #fff;
}