.search {
  text-align: center;
  background: #2D3035;
  padding: 20px 0;

  &__field {
    padding: 10px 15px;
  }

  &__btn {
    background: $highlight-color;
    color: #fff;
    padding: 10px 25px;
    font-weight: $bold;
  }
}